{
  "env": {
    "development": {
      "presets": [
        [
          "babel-preset-env",
          {
            "targets": {
              "node": "6.10"
            }
          }
        ]
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "browser": {
      "presets": [
        [
          "babel-preset-env",
          {
            "targets": {
              "browsers": "last 2 versions, ie 10-11"
            }
          }
        ]
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "module": {
      "presets": [
        [
          "babel-preset-env",
          {
            "targets": {
              "node": "6.10"
            },
            "modules": false
          }
        ]
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  },
  "sourceMaps": true
}
